@media only screen and (min-width: 1400px) {
  
}
.gj-bg {
  border: #e2c600 solid 10px;
  border-radius: 20px;
  background: rgb(52, 59, 159);
  background: radial-gradient(
    circle,
    rgba(52, 59, 159, 1) 15%,
    rgba(34, 39, 106, 1) 90%
  );
}
.gj-text-bg {
  border: #e2c600 solid 2px;
  background: rgb(4, 4, 44);

}
.gj-questionbox-bg {
  border: #e2c600 solid 2px;
  border-radius: 20px;
  height: 130px;
  background: rgb(49, 49, 76);
}
.gj-questionbox-bg {
  border: #e2c600 solid 2px;
  border-radius: 20px;
  background: rgb(49, 49, 76);
}
.gj-credits{
  border: #b2b1a8 solid 1px;
  text-align: center;
  background-color: #525252;
  color: #dcdcdc;
}
.gj-main{
  background-color: rgb(4, 4, 44);
}
.gj-betButton {
  background-color: #e2c600;
}
.gj-submitButton{
  position:absolute;
  right:115px;
  bottom:35px;
  height:125px;
  width:125px;
  background: rgb(106,22,22);
  border: 1px solid rgb(175, 157, 157);
  background: radial-gradient(circle, rgba(106,22,22,1) 5%, rgba(13,4,4,1) 100%, rgba(214,43,43,1) 100%);
  border-radius: 100%;
  -webkit-box-shadow: 5px 5px 15px 2px #5e1414; 
  box-shadow: 2px 2px 20px 2px #3c0909;
  color:#dededed3;
  font-weight: bold;
  z-index: 1000;
}
.gj-submitButton:hover{
  background: rgb(194,49,49);
  background: radial-gradient(circle, rgba(194,49,49,1) 5%, rgba(13,4,4,1) 100%, rgba(214,43,43,1) 100%); 
}
.gj-submitButton:active {
  background: rgb(224,186,186);
  background: radial-gradient(circle, rgb(175, 100, 100) 5%, rgba(13,4,4,1) 100%, rgba(214,43,43,1) 100%);
}
.gj-button {
  position:absolute;
  margin-top:45px;
  font-size: 2.5em;
  color: #ffffff;
  text-shadow: #013c80;
  background-color: #456081;
  border: #013c80 solid 2px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px 2px #000000; 
  box-shadow: 5px 5px 15px 2px #000000;
}
.gj-button:hover {
  background-color: #8da5c3;
}
.gj-button:active {
  box-shadow: 1px 1px 10px 2px #046ff0;
  background-color: #515b69;
}
.gj-login-form{
  padding:0;
  margin:0;
  -webkit-box-shadow: 5px 5px 15px 2px #000000; 
  box-shadow: 5px 5px 15px 2px #000000;
}
.gj-onTop {
  z-index: 10;
}
.App {
  text-align: center;
  -webkit-box-shadow: 5px 5px 50px 23px #000000; 
  box-shadow: 5px 5px 50px 23px #000000;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.no-resize {
  resize: none;
}
.h-90{
  height:90%;
}
.h-80{
  height:80%;
}
.h-40{
  height:40%;
}
.h-45{
  height:45%;
}
.w-30{
  width:30%;
}
.w-60{
  width:60%;
}
.mt-20{
  margin-top: 20rem;
}
.title{
  font-size: 4em;
}
.text-gold1{
  color:#ffe100;
}
.text-gold2{
  color:#e29c47;
}
.text-gold3{
  color:#f5c0ad;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@media only screen and (max-width: 1399px) {
  .mobile {
    display: none;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.tiles{
  padding-top: 2em;
  position:absolute;
}

.gradient-box {
  color: #ffffff;
  padding: 30px;
  text-align: center;
  border-radius: 4px;
  position: relative;
}

.gradient-box.show:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  background: linear-gradient(120deg, #8a2222, #381406, #8a2222);
  background-size: 300% 300%;
  clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), 3px calc(100% - 3px), 3px 100%, 100% 100%, 100% 0%, 0% 0%);
}

.gradient-box.start:after {
  animation: start 0.5s forwards ease-in-out reverse, gradient-animation 2s ease-in-out infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 15% 0%;
  }
  50% {
    background-position: 85% 100%;
  }
  100% {
    background-position: 15% 0%;
  }
}

@keyframes start {
  0% {
    clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), 3px calc(100% - 3px), 3px 100%, 100% 100%, 100% 0%, 0% 0%);
  }
  25% {
    clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), calc(100% - 3px) calc(100% - 3px), calc(100% - 3px) 100%, 100% 100%, 100% 0%, 0% 0%);
  }
  50% {
    clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, 100% 0%, 0% 0%);
  }
  75% {
    -webkit-clip-path: polygon(0% 100%, 3px 100%, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 0%, 0% 0%);
  }
  100% {
    -webkit-clip-path: polygon(0% 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 0% 100%);
  }
}


.gj-oButton:enabled {
  display: inline;
  width: 90px;
  height: 50px;
  color: #363c3d;
  font-size: 18px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  border: none;
  border-radius: 4px;
  background: rgb(226, 198, 0);
  box-shadow: 0 0 0 0 rgba(226, 198, 0, 0.6);
  animation: pulse 2s infinite;
}
.gj-oButton-current {
  display: inline;
  width: 90px;
  height: 50px;
  color: #363c3d;
  font-size: 18px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  border: none;
  border-radius: 4px;
  background: rgb(255, 244, 160);
  box-shadow: 0 0 0 3px rgba(226, 198, 0, 0.6);
  animation: pulse 3s infinite;
} 
.gj-oButton:disabled {
  display: inline;
  width: 90px;
  height: 50px;
  color: #363c3d;
  font-size: 18px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  border: none;
  border-radius: 4px;
  background: rgb(168, 168, 168);
  box-shadow: 0 0 0 0 rgba(226, 198, 0, 0.6);
}

.gj-oButton:hover {
  animation: none;
}

@keyframes pulse {
  0% {
    letter-spacing: 1.3px;
  }
  70% {
    letter-spacing: 1.9px;
    box-shadow: 0 0 0 5px rgba(0, 253, 222, 0);
  }
  100% {
    letter-spacing: 1.3px;
    box-shadow: 0 0 0 0 rgba(0, 253, 222, 0);
  }
}
.circle {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 220px;
  width: 220px;
  border: 5px solid #e2c600; 
  border-radius: 50%;
}
.time {
  font-family: "Roboto Mono", monospace;
  color:#fff;
  font-weight: 300;
  font-size: 48px;
}