.gj-bg {
  border: #e2c600 solid 10px;
  border-radius: 20px;
  background: rgb(52, 59, 159);
  background: radial-gradient(
    circle,
    rgba(52, 59, 159, 1) 15%,
    rgba(34, 39, 106, 1) 90%
  );
}
.gj-betButton {
  background-color: #e2c600;
}
.gj-button {
  position: absolute;
  margin-top: 1em;
  font-size: 2.5em;
  color: #ffffff;
  text-shadow: #013c80;
  background-color: #046ff0;
  border: #013c80 solid 2px;
  border-radius: 10px;
}
.gj-button:hover {
  background-color: #0450b0;
}
.gj-button:active {
  box-shadow: 1px 1px 10px 2px #046ff0;
  background-color: #3386eb;
}
.gj-onTop {
  z-index: 5000;
}
.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.no-resize {
  resize: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.gj-spinner-container{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translate(0, -50%);
}
.gj-spinner {
  display: inline-block;
  height: 40px;
  overflow: hidden;
}
.inner-spinner{
  animation-duration: 1s;
  animation-name: slide;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

@keyframes slide{
  from {
  margin-top:-100px;
  }
  to{
  margin-top:1000px;
  }
}