.gj-bg {
  border: #e2c600 solid 10px;
  border-radius: 20px;
  background: rgb(52, 59, 159);
  background: radial-gradient(
    circle,
    rgba(52, 59, 159, 1) 15%,
    rgba(34, 39, 106, 1) 90%
  );
}
.gj-main{
  background-color: rgb(4, 4, 44);
}
.gj-betButton {
  background-color: #e2c600;
}
.gj-button {
  position: absolute;
  margin-top: 1em;
  font-size: 2.5em;
  color: #ffffff;
  text-shadow: #013c80;
  background-color: #456081;
  border: #013c80 solid 2px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px 2px #000000; 
 box-shadow: 5px 5px 15px 2px #000000;
}
.gj-button:hover {
  background-color: #8da5c3;
}
.gj-button:active {
  box-shadow: 1px 1px 10px 2px #046ff0;
  background-color: #515b69;
}
.gj-login-form{
  -webkit-box-shadow: 5px 5px 15px 2px #000000; 
  box-shadow: 5px 5px 15px 2px #000000;
}
.gj-onTop {
  z-index: 5000;
}
.App {
  text-align: center;
  -webkit-box-shadow: 5px 5px 50px 23px #000000; 
  box-shadow: 5px 5px 50px 23px #000000;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.no-resize {
  resize: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.tiles{
  padding-top: 2em;
}