body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --menu-starting-top: 0px;
  --menu-ending-top: 25px;
  --menu-width: 200px;
  --menu-max-height: 200px;
  --timeout: 200ms;
}
.display-enter {
  top: var(--menu-starting-top);
}

.display-enter-active {
  top: var(--menu-ending-top);
  width: var(--menu-width);
  max-height: var(--menu-max-height);
  transition: all var(--timeout);
}

.display-exit {
  top: var(--menu-ending-top);
  width: var(--menu-width);
  max-height: var(--menu-max-height);
}

.display-exit-active {
  top: var(--menu-starting-top);
  transition: all var(--timeout);
}
