.switch {
  display: inline-block;
  height: 100px;
}

.srow {
  padding: 20px;
  background: #e2c600;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(115, 144, 147, 0.1411764706), 0px 20px 20px rgba(115, 144, 147, 0.1411764706);
}
.srow-disabled {
  padding: 20px;
  background: #676765;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(115, 144, 147, 0.1411764706), 0px 20px 20px rgba(115, 144, 147, 0.1411764706);
}
.vertical-switch {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 200px;
}
.vertical-switch__slider {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #514c2c;
  border: 1px solid rgba(0, 0, 0, 0.031372549);
  border-radius: 10px;
}
.vertical-switch__slider:before {
  position: absolute;
  content: "";
  top: 0;
  left: calc((140% - 30px));
  width: 40px;
  height: 30px;
  border-radius: 5px;
  background: #753434;
  transition: all 400ms cubic-bezier(1, 0, 0.01, 1.01);
}
.vertical-switch > input[type=checkbox] {
  display: none;
}
.vertical-switch > input[type=checkbox]:checked + .vertical-switch__slider:before {
  animation: activate 1s 1 ;
}
@keyframes activate{
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(calc(100% + 140px));
  }
  100%{
    transform: translateY(calc(100% - 30px));

  }
}
.disabled-switch-row{
  padding: 20px;
  background: #767676;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(115, 144, 147, 0.1411764706), 0px 20px 20px rgba(115, 144, 147, 0.1411764706);
}
.disabled-switch{
  position: absolute;
  content: "";
  bottom: 0;
  left: calc((140% - 30px));
  width: 40px;
  height: 30px;
  border-radius: 5px;
  background: #767676;
  transition: all 400ms cubic-bezier(0.5, 0, 0.01, 1.01);
}